#body1{
    background-color: black;
}
#page{
    background-color: aquamarine;
    position: relative;
    left: 110px;
    padding-right: 0%;
    font-size: large;
    max-width: 75%;
    
}
#dropdown{
    position: relative;
    display: inline-block;
}
#conteudo{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    z-index: 1;
    padding: 12px 16px;
}
#dropdown:hover #conteudo{
    display: block;
    background-color:beige;
}
table{
    text-align: center;
    padding: 3%;
    position: relative;
    left: 25%;
    max-width: 45%;
    border: 3px;
    border-style: solid;
    color: black;
    top: 10px;
}
td{
    border: 0px;
    border-style: solid;
    border-color: black;
    padding: 0%;
    min-height: 30px;
}
#cabecalho{
    position: relative;
    border: 2px;
    border-style: solid;
       
}
#cabecalho h1{
    text-align: center;
}
#form{
    position: relative;
    left: 75%;
    padding-right: 74%;
}
#new_task{
    max-width: 75%;
}
